extends layout
block content
    form.form-signin(method='POST' action='/users/login')
        h2.form-signin-heading Please sign in
        label.sr-only(for='inputUsername') Email address
        input#inputUsername.form-control(
            type='text', 
            name='username',
            placeholder='User Name', 
            required='', 
            autofocus='')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(
        type='password', placeholder='Password', required='',name='password')
        .checkbox
        //- label
        //-   input(type='checkbox', value='remember-me')
        //-   |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

